:root {
  --MAIN: #D6A99D;
  --SECONDARY: #9CAFAA;
  --TERTIARY: #D6DAC8;
  --QUANTERNARY: #FBF3D5;
}
body {
  background-color: var(--MAIN);
  width: 100vw;
  color: var(--QUANTERNARY);
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.questionAnswerField {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}
.question {
    align-self: start;
    text-align: center;
    width: 40%;
    background: var(--SECONDARY);
    color: var(--TERTIARY);
    font-weight: bolder;
    padding: 10px;
    border-radius: 15px 15px 0px 15px;
}
.answer {
    align-self: end;
    text-align: center;
    width: 40%;
    background-color: var(--TERTIARY);
    color: var(--SECONDARY);
    font-weight: bolder;
    padding: 10px;
    border-radius: 0px 15px 15px 15px;
}
.inputField {
  width: 65%;
  display: flex;
}
#inputArea {
  width: 90%;
  height: 50px;
  background-color: var(--TERTIARY);
  color: var(--SECONDARY);
  font-weight: bolder;
  border-radius: 15px 15px 0px 15px;
  resize: horizontal;
  line-height: 1.5;
  padding: 5px;
}
.inputButton {
  background: var(--SECONDARY);
  color: var(--TERTIARY);
  font-weight: bolder;
  margin: 5px;
}